@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Mulish:wght@300&family=Roboto&family=Roboto+Mono:wght@200&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.container {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(0,0,0,.3)
}